<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist"
    style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
    <li class="nav-item" role="presentation">
        <a class="nav-link rounded-5" id="home-tab2" href="/listmatieres" role="tab"
            aria-selected="true">Matiere</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link rounded-5" id="profile-tab2" href="/listmodules" role="tab" aria-selected="false">Module</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link rounded-5" id="contact-tab2" href="/listclasses" role="tab" aria-selected="false">Classe</a>
    </li>
    <!-- Ajout du quatrième bouton -->
    <li class="nav-item" role="presentation">
        <a class="nav-link active rounded-5" id="extra-tab" href="/listspec" role="tab" aria-selected="false">Specialite</a>
    </li>
</ul>
<div class="container-fluid">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2><b>Specialites Details</b></h2></div>
                    <div class="col-sm-4 text-end"> <!-- Utilisez la classe "text-end" pour aligner le contenu à droite -->
                        <button type="button" class="btn btn-info add-new" (click)="addNewSpec()" style="color: white;"><i class="fa fa-plus"></i>Ajouter</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id specialite</th>
                    <th>nom specialite</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mat of listspecialites">
                    <td>{{ mat.idSpecialite}}</td>
                    <td>{{ mat.nomSpecialite }}</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip">
                            <i class="material-icons">&#xE03B;</i>
                          </a>
                      <a class="edit" title="Edit" data-toggle="tooltip" (click)="OnUpdateSpecilaite(mat.idSpecialite)"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip" (click)="OnDeletespecialite(mat.idSpecialite)"><i class="material-icons">&#xE872;</i></a>
                    </td>
                           </tr>
            </tbody>
        </table>
    </div>
</div>
