<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Update Classe</h3>
          </div>
          <div class="panel-body">
            <form [formGroup]="frominput" (ngSubmit)="addclasse()">
              <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" formControlName="id" readonly>
              </div>
              <div class="form-group">
                <label for="nomclasse">Nom Classe:</label>
                <input type="text" class="form-control" id="nomclasse" formControlName="nomclasse">
              </div>
              <div class="form-group">
                <label for="niveauclasse">Niveau Classe:</label>
                <input type="number" class="form-control" id="niveauclasse" formControlName="niveauclasse">
              </div>
              <button type="submit" class="btn btn-primary">ADD</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  